$colorBlack: #000000;
$colorWhite: #ffffff;


$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-base: 1rem; // 16px
$font-md: 1.25rem; // 20px
$font-lg: 40px;
$font-xl: 60px;
$font-2xl: 5rem; // 80px
$font-3xl: 6.25rem; //100px




