@mixin susy-use(
  $config
) {
  $config: susy-compile($config);
  $global: $susy;
  $susy: map-merge($susy, $config) !global;
  @content;
  $susy: $global !global;
}

$small: (
  'columns': susy-repeat(6),
  'gutters': 2px,
);

$medium: (
  'columns': susy-repeat(12),
  'gutters': 10px,
);

$largeL: (
  'columns': susy-repeat(12),
  'gutters': 14px,
);

$largeXL: (
  'columns': susy-repeat(12),
  'gutters': 7px,
);


@include susy-use($small) {
	.grid-susy {
		width: 82%;
		margin: 0 auto;

		& section:nth-child(2) {
			margin-top: 0;
		}
		// background: susy-svg-grid() no-repeat scroll;
	}
}

@include mq($from: tablet) {
	@include susy-use($medium) {
		.grid-susy {
			width: 90%;
			margin: 0 auto;
			// background: susy-svg-grid() no-repeat scroll;
		}
  }
}

@include mq($from: desktop) {
	@include susy-use($largeL) {
		.grid-susy {
			width: 85%;
			margin: 0 auto;
			// background: susy-svg-grid() no-repeat scroll;
		}
  }
}

@include mq($from: wide) {
	@include susy-use($largeXL) {
		.grid-susy {
			width: 75%;
			max-width: 1600px;
			margin: 0 auto;
			// background: susy-svg-grid() no-repeat scroll;
		}
  }
}