@mixin fontAcherusgrotesqueRegular {
	font-family: 'acherusgrotesque-regular', sans-serif;
}

@mixin fontAcherusgrotesqueMedium {
  font-family: 'acherusgrotesque-medium', sans-serif;
}

@mixin fontAcherusgrotesqueBold {
  font-family: 'acherusgrotesque-bold', sans-serif;
}

@mixin fontRoxboroughcfExtrabold {
  font-family: 'roxboroughcf-extrabold', sans-serif;
}